h1,
p,
button,
input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(238, 238, 238);
}
* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
  border-color: rgb(65, 64, 64);
  width: 100%;
}
input[type="text"] {
  background-color: rgb(39, 0, 75);
  border: 0;
  padding: 14px 20px;
  border-radius: 10px;
  color: white;
  width: 100%;
}
input[type="number"] {
  background-color: rgb(39, 0, 75);
  border: 0;
  padding: 14px 20px;
  border-radius: 10px;
  color: white;
  width: 100%;
}
input[type="text"]:focus {
  border: 0;
  outline: 0;
}
input[type="number"]:focus {
  border: 0;
  outline: 0;
}
button {
  border-radius: 8px;
  padding: 12px;
  border: 0;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}
button:hover {
  background-color: rgb(125, 32, 212);
  color: white;
  cursor: pointer;
}
/* Container styles */
.container {
  background-color: rgb(23, 2, 36);
  color: rgb(238, 238, 238);
  padding: 8px;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header > button {
  align-self: center;
  border-radius: 8px;
  padding: 12px;
  border: 0;
  background-color: blueviolet;
  color: white;
}
.header > button:hover {
  background-color: rgb(125, 32, 212);
  color: white;
  cursor: pointer;
}
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid rgb(65, 64, 64);
  border-radius: 10px;
  width: 40vw;
}
.wallet-details{
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

/* Responsive */
@media only screen and (max-width: 500px) {
  .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    margin-top: 50px;
    /* color: green; */
    /* margin: 4px; */
    padding: 8px;
    width: 100%;
  }
  .container{
    height: 115vh;
  }
  button{
    width: 100%;
    min-width: 100px;
  }
  .header{
    margin: 10px 0 10px 0;
  }
  .header > h2 {
    font-size: 14px;
  }
  .header > button{
    max-width: 150px;
  }
}
.card > button {
  width: 100%;
}
